html {
  scroll-behavior: smooth;
}

.btn-primary {
  @apply bg-blue-700 text-white px-4 py-2 rounded-lg shadow hover:bg-blue-800 transition;
}

.card {
  @apply bg-white p-6 shadow-md rounded-lg hover:shadow-lg transition;
}

.section-title {
  @apply text-3xl font-bold text-blue-800 mb-4;
}